*{
font-family: sans-serif;
}

p{
	font-size: 20px ;
}

a{
	text-decoration: none;
}
h2{
	text-decoration: none
	color: royalblue;
}

.amanhã{
	color: darkblue;
}

.hoje{
	color: darkgreen;
}

